body {
    margin: 0;
    text-align: center;
    background-color: #fff;
}
.container {
    margin: auto;
    padding-top: 45px;
    text-align: center;
    width: 50%;
    min-width: 540px;
    background: white;
}
summary {
    line-height: 1.8em;
}
img {
    width: 100%;
}
h4 {
    margin: 0;
    color: #fff;
    line-height: 1.8em;
    background-color: #333;
}
section {
    text-align: center;
    line-height: 2.5em;
}
p {
    margin: 0.5em;
}
table {
    width: 100%;
    text-align: center;
    border-collapse:collapse;
}
tr, td {
    border: 1px solid #777;
}
th {
    margin: 0;
    line-height: 1.5em;
    border: 1px solid #777;
    background-color: #DBD6D6;
}
.attack {
    background-color: #F7B2AD;
}
.normal {
    background-color: #CEB7B3;
}
.CA {
    background-color: #B7B7B7;
}
.skill {
    background-color: #9ABCA7;
}
.CB {
    background-color: #C3E0D0;
}
input {
    max-width: 30px;
}
header {
    position: fixed;
    width: 100%;
    height: 30px;
    top: 0;
    right: 0;
    padding: 10px;
    border-bottom: solid 1px;
    background-color: #fff;
}
footer {
    border-top: solid 1px #777;
}
#topBtn {
    margin: 15px;
    width: 100px;
    height: 25px;
    line-height: 25px;
    border: none;
    outline: none;
    background-color: #777;
    color: #fff;
}
#topBtn:hover{
    background-color: #333;
}